@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


body {
  @apply text-dark;
  
}


.partial-border {
  position: relative;
  /* height: screen; */
}

.partial-border::before,
.partial-border::after, .projects::before {
  content: '';
  position: absolute;
  border-color: #6B7280; 
}

.partial-border::before {
  top: 10px;
  left: 30px;
  border-width: 12px 0 0 12px;
  border-style: solid;
  border-color: #FFc94b;
  border-radius: 1.5rem 0 0 1rem; 
  width: 20%;
  height: 50%;
}

.partial-border::after {
  position: absolute;
  right: 30px;
  bottom: 50px;
  border-width: 0 12px 12px 0;
  border-style: solid;
  border-color: #FFc94b;
  border-radius: 0 1rem 2rem 0; 
  width: 20%;
  height: 50%;

}

.projects::before{
  /* top: 70px;
  left: 0;
  border-width: 2px 0 0 2px;
  border-style: solid;
  border-radius: .5rem 0 .5rem 0; 
  width: 5%;
  height: 40%;
  border-color: #FFc94b; */
  /* height: auto; */
}

@media(max-width:360px){
   /* .partial-border::before{
    border-width: 2px 0 0 2px;
    border-radius: 0 1rem 1rem 0;
     top: 30px;
    left: 25px;
     height: 30%;
  }
  .partial-border::after{
    border-width: 0 4px 4px 0;
    border-radius: 0 1rem 1rem 0;
    right: 80px;
     height: 30%;
  }  */
}

 @media(max-width:500px){
  .partial-border::before{
    border-width: 4px 0 0 4px;
    border-radius: 0 1rem 1rem 0;
     top: 30px;
    left: 15px;
     height: 30%;
  }
  .partial-border::after{
    border-width: 0 4px 4px 0;
    border-radius: 0 1rem 1rem 0;
    right: 15px;
     height: 30%;
  }

  .projects::before{
    display: none;
}

}

@media(max-width:1024px){
    .partial-border::before{
    border-width: 4px 0 0 4px;
    border-radius: 0 1rem 1rem 0;
     top: 30px;
    left: 25px;
     height: 30%;
  }
  .partial-border::after{
    border-width: 0 4px 4px 0;
    border-radius: 0 1rem 1rem 0;
    right: 15px;
     height: 30%;
  }
  .projects::before{
    display: none;
}
}
